.contactList{
	-fx-font-size: 16px;
}

.contactList .list-cell:even {
	-fx-background-color: grey;
	-fx-text-fill: black;
}

.contactList .list-cell:odd {
	-fx-background-color: white;
	-fx-text-fill: black;
}

.contactList .list-cell:selected {
	-fx-background-color: blue;
	-fx-text-fill: black;
}

.lbHeadingContact{
	-fx-label-padding: 5;
	-fx-font-size: 30px;
	-fx-alignment: center;
}

.cbLanguage{
	-fx-pref-width: 45px;
	-fx-padding: 2;
}

.newButton{
	-fx-font-size: 20px;
	-fx-padding: 5;
}

.groupButton{
	-fx-font-size: 20px;
	-fx-padding: 5;
}

.searchButton{
	-fx-padding: 5;
}

.txtSearch{

}

.searchBar{
	-fx-spacing: 5;
	-fx-padding: 5;
}


.listCenter{
	-fx-hgap: 20;
	-fx-vgap: 10;
	-fx-alignment: top-center;
}

.lbContactForm{
	-fx-label-padding: 5;
	-fx-min-width: 100;
	-fx-min-height: 50;
}


.txtContactForm{
	-fx-max-width: 300;
	-fx-max-height: 20;
}


.txtBirthDate{
	-fx-max-width: 200;
	-fx-max-height: 20;
}

.txtNotizen{
	-fx-max-width: 300;
	-fx-max-height: 80;
}

.bottomBar{
	-fx-spacing: 10;
	-fx-alignment: center-right;
	-fx-padding: 15;
}

.lbHeadingGroup{
	-fx-font-size: 30px;
	-fx-alignment: center;
}

