.center{
	-fx-font-size: 16px;
}

.center .list-cell:even {
	-fx-background-color: grey;
	-fx-text-fill: black;
}

.center .list-cell:odd {
	-fx-background-color: white;
	-fx-text-fill: black;
}

.center .list-cell:selected {
	-fx-background-color: blue;
	-fx-text-fill: black;
}

.lbHeadingContact{
	-fx-font-size: 30px;
	-fx-alignment: center;
}

.newButton{
	-fx-font-size: 20px;
	-fx-padding: 5;
	
}

.groupButton{
	-fx-font-size: 20px;
	-fx-padding: 5;
	
}