.contactList{
	-fx-font-size: 16px;
}

.contactList .list-cell:even {
	-fx-background-color: grey;
	-fx-text-fill: black;
}

.contactList .list-cell:odd {
	-fx-background-color: white;
	-fx-text-fill: black;
}

.contactList .list-cell:selected {
	-fx-background-color: blue;
	-fx-text-fill: black;
}

.newButton{
	-fx-padding: 10;
	-fx-background-radius: 15;
}

.groupButton{
	-fx-padding: 10;
	-fx-background-radius: 15;
}

.searchButton{
	-fx-padding: 5;
	-fx-background-radius: 50;
}

.homeButton{
	-fx-padding: 8;
	-fx-background-radius: 10;
}

.saveButton{
	-fx-padding: 10;
	-fx-background-radius: 10;
}

.searchBar{
	-fx-spacing: 10;
	-fx-padding: 5;
	-fx-alignment: center;
}

.buttonBar{
	-fx-spacing: 10;
	-fx-padding: 5;
	-fx-alignment: center-right;
}

.saveBar{
	-fx-spacing: 10;
	-fx-padding: 5;
}

.homeBar{
	-fx-spacing: 10;
	-fx-padding: 5;
}

.listCenter{
	-fx-hgap: 20;
	-fx-vgap: 20;
	-fx-alignment: top-center;
	-fx-padding: 10;
}


.txtContactForm{
	-fx-max-width: 300;
	-fx-max-height: 20;
}


.txtBirthDate{
	-fx-max-width: 200;
	-fx-max-height: 20;
}

.txtNotizen{
	-fx-max-width: 300;
	-fx-max-height: 80;
}

.bottomBar{
	-fx-spacing: 15;
	-fx-alignment: center;
	-fx-padding: 15;
}



